:root {
    /* Главный неоновый цвет сайта */
    --neon-color: #00C2FF;
    --neon-glow: rgba(0, 194, 255, 0.2);
    
    /* Цвета интерфейса и стекла */
    --bg-dark: #070913;
    --glass-bg: rgba(15, 23, 42, 0.75);
    --glass-border: rgba(0, 194, 255, 0.25);
    
    /* Цвета кнопок */
    --btn-bg: rgba(0, 194, 255, 0.05);
    --btn-hover-bg: rgba(0, 194, 255, 0.15);
    
    /* Текст */
    --text-main: #f8fafc;
    --text-muted: #475569;
}